body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.calculator-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-number {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.sum-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.sum-button:hover {
    background-color: #45a049;
}

.output {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
